<!DOCTYPE html>
<html>
  <head>
    <title>Redirect</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is redirected</h1>
    <p>You should not see this screen</p>
    <p><a href='/games'>Click here</a></p>
  </body>
</html>
